.nav {
  list-style: none;
  padding-top: 30px;
  text-align: center;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav li {
  margin-top: 10px;
  border: 1px solid;
  width: 170px;
  height: 30px;
  border-radius: 6px;
  color: #a56623;
  margin-left: auto;
  margin-right: auto;
}
.about_photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 70px;
}
.vv {
  width: 300px;
  height: 100vh;
  text-align: center;
  background-color: #E9DFD4;
}
.name {
  padding-top: 10px;
}
.speciality {
  padding-top: 3px;
}
